* { margin: 0; padding: 0 }
      body, html {
        height: 100%;
        margin: 0; 
        padding: 0; 
        position: fixed;
        width:100%;
      }
      div1 {
        height: 33vh; 
        background-color: #ccc;
        margin: 0; 
        padding: 0;
      }
      
      
      div2 {
        height: 66vh; 
        background-color: #eee;
        position: relative; 
        margin: 0; 
        padding: 0;
      }

      div3 {
        height: 50px; 
        background-color: #f00;
        position: absolute;
        bottom: 0; 
        width: 100%; 
        display: none;
        margin: 0; 
        padding: 0;
      }
